.AuthContainer{
    margin: 50px auto;
    width: 80vh;
    border: 6px solid blue;
    border-radius: 10px;
    padding: 20px;
}

.SubmitButtonDiv{
    margin: 20px;
    display: flex;
    justify-content: center;
    
}

.SubmitButton{
    width: 30%;
    font-family: 'Open Sans', Consolas;   
}

.FormGroup
{
    font-size: larger;
    margin: 30px;
}

.authMethod{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

p{
    text-align: center;   
}

.ErrorText{
    color: red;
}

.GoogleSignInButton{
    width: 40%;
    cursor: pointer;
    padding: 10px 5px;
    display: flex;
    justify-content: space-evenly;
    
    border-radius: 5px;
    background-color: #eeeeee;
    box-shadow: 0px 2px 12px;
    
    outline: none;
    border: 2px solid #d3d0d0;
}

.GoogleIconContainer > img{
    width: 20px;
    height: 20px;
}

.GoogleSignInText{
    font-size: 16px;
    font-family: 'Roboto';
}