.Container{
    position: relative;
    left: 300px;
    text-align: justify;
    width: 80%;
}

.PostTitle{
    font-size: 36px;
    font-family: 'Merriweather';
    font-weight: bold;
    padding: 2rem 3rem;
    border-left: 5px solid #483D8B;
}

.PostImage{
    margin-bottom: 1rem;
}
.PostContent{
    padding: 2rem 3rem;
    font-family: 'Roboto', Arial;
    font-size: 24px;
    border-left: 5px solid #5baf6f;
    min-height: 40vh;
}



