section{
    background: url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: 100% 100%;
}

main{
    padding: 20vh;
    text-align: center;
}

.homepage-heading{
    
    font-size: 140px;
    color: white;
    font-family: Roboto, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    letter-spacing: 3;

}

.homepage-subheading{
    
    font-size: 30px;
    color: #c8c2bc;
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    letter-spacing: 1;
    
}

.ctaButton{
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px auto;
    font-size: 32px;
}