.Container{
    margin: 50px auto;
    border: 6px solid blue;
    border-radius: 10px;
    padding: 20px;
}

.postBtnDiv {
    font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.ContainerTitle{
    display: grid;
    grid-template-columns: 90% 10%; 
    margin:20px auto;
    margin-left: 60px;
}

.NewPostHeading{
    text-align: center;
}

.PostTitleInputBox{
    font-size: 24px;
    font-family: 'Merriweather';
    
}

.PostTextInputBox{
    font-size: 18px;
    font-family: 'Roboto';
    color:#231e23
}